[gcode_macro _HOME_Z]
gcode:
	{% if printer['gcode_macro xyz_ready'].y_ready|int == 1 %}
	{% if printer['gcode_macro xyz_ready'].x_ready|int == 1 %}
	  _IF_HOME_Z
	{% endif %}
	{% endif %}
	# {% if printer.print_stats.z_pos|float >= 260.0 %}
	# FORCE_MOVE STEPPER=stepper_z DISTANCE=-8 VELOCITY=10/
	# {% endif %}

	{% set X_s = printer.configfile.settings['bed_mesh'].mesh_min[0]|int %}
	{% set X_e = printer.configfile.settings['bed_mesh'].mesh_max[0]|int %}
	{% set Y_s = printer.configfile.settings['bed_mesh'].mesh_min[1]|int %}
	{% set Y_e = printer.configfile.settings['bed_mesh'].mesh_max[1]|int %}

	# {% set POSITION_X = (X_e-X_s)/2+X_s|int %}
	# {% set POSITION_Y = (Y_e-Y_s)/2+Y_s|int %}
	{% set POSITION_X = X_s|int %}
	{% set POSITION_Y = Y_e|int %}
	G91
	{% set x_park = POSITION_X - printer.toolhead.position.x|int %}
	{% set y_park = POSITION_Y - printer.toolhead.position.y|int %}
	{action_respond_info("x_park = %s \n" % (POSITION_X))}
	{action_respond_info("y_park = %s \n" % (POSITION_Y))}
	M204 S2000
	G1 y{y_park} F12000
	M400
	G1 x{x_park} F12000
	G90
	# G4 P500
	M204 S500
	G28 Z
	SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=1
	G1 Z5 F600
  
[prtouch_v3]
	enable_not_linear_comp: False
	samples_tolerance: 0.05